    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About EdgeZero AI</h2>
                <p>EdgeZero AI is being built to run Machine Learning algorithms on the smallest of devices.</p>
                <p>Machine Learning is not always required to run on power hungry GPUs or other high wattage accelerators for AI. AI can be truly ubuquitous only when it can run on devices that can harvest energy from ambient sources like room light even.</p>
            </div>
        </div>
    </section>
