    <!-- Coming Soon Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Coming Soon...</h2>
                    <p>We are cooking stuff right now. Will start sharing details here shortly...</p>
                    <a href="http://www.edgezero.in" class="btn btn-default btn-lg">Come back soon!</a>
                </div>
            </div>
        </div>
    </section>
